<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/event.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.1/css/all.css">
    <script>type="text/javascript"; src="index.js"</script>
    <title>Curing Souls</title>
    <script src="https://kit.fontawesome.com/afd6aa68df.js" crossorigin="anonymous"></script>
    
<body>
    <div class="navbar">
    <nav>
        <div class="logo">
            <img src="" alt="">
        </div>
        
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./stories">Stories</a></li>
            <li><a href="./event">Event</a></li>
            <li><a href="./meditate">Meditate</a></li>
           
            <div class="dropdown">
                <li><a href="">More</a></li>
                <div class="dropdown-content">
                <a href="./needhelp"> <b>Need help</b></a>
                <a href="./"><b>About us</b></a>
                <a href="./feedback"><b>Feedback</b></a>
                </div>
              </div>
        </ul>
    </nav>
    </div>
    


<div class="definition">
    <div class="heading">
        <h1>The Content you consume defines you</h1>
        <p>Join the whatsapp group to get regular event updates</p>
        <a href="https://chat.whatsapp.com/JY4AJ5Y2wxY1xlJ1VRNLSb" class="event-library-btn">
             <img src="./img/whatsapp logo.png" alt="">
             <button class="btn1">get notified</button>
        </a>
        
    </div>
</div>


<div class="eventlib">
    <div class="container">
        <div class="eventtitle">
            <h2>Upcoming Event</h2>
            <div class="cards">
                <div class="card">
                    <img src="./img/optimism.png" alt="">
                    <div class="content">
                        <div class="top">
                            <h2>Optimism</h2>
                            <p>connect with other optimistic people and experience the world full of positivity</p>
                            
                        </div>
                        <div class="bottom">
                            <p>
                                dec , 25
                                |
                               9:30 PM
                            </p>
                            <a href="https://meet.google.com/hnp-ztyq-nce"><button class="btn">Join</button></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="./img/music.png" alt="">
                    <div class="content">
                        <div class="top">
                            <h2>Music </h2>
                            <p>Music really lifts the spirits… join and relax for a while</p>
                            
                        </div>
                        <div class="bottom">
                            <p> dec , 26
                                |
                               9:30 PM
                            </p>
                            <a href="join"><button class="btn">Join</button></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="./img/talk.png" alt="">
                    <div class="content">
                        <div class="top">
                            <h2>Talk</h2>
                            <p>sometimes you just need someone to listen to all your words without judging, join here to find a partner</p>
                            
                        </div>
                        <div class="bottom">
                            <p>
                                dec , 29
                                 |
                                9:30 PM
                            </p>
                            <a href="join"><button class="btn">Join</button></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="./img/play.png" alt="">
                    <div class="content">
                        <div class="top">
                            <h2>play</h2>
                            <p>Play some mini and fun games with stranger, may be you will find someone like you </p>
                            
                        </div>
                        <div class="bottom">
                            <p>
                                dec , 30
                                |
                               9:30 PM
                            </p>
                            <a href="join"><button class="btn">Join</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        