<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.1/css/all.css">
    
    <title>Curing Souls</title>
    <script src="https://kit.fontawesome.com/afd6aa68df.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/index.js" ></script>
    <script type="text/javascript" src="/js/constants.js" ></script>
    <script type="text/javascript" src="/js/speech.js" ></script>

    
<body>
    <div class="navbar">
    <nav>
        <div class="logo">
            <img src="" alt="">
        </div>
        
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./stories">Stories</a></li>
            <li><a href="./event">Event</a></li>
            <li><a href="./meditate">Meditate</a></li>
           
            <div class="dropdown">
                <li><a href="#more">More</a></li>
                <div class="dropdown-content">
                <a href="./needhelp"> <b>Need help</b></a>
                <a href="./"><b>About us</b></a>
                <a href="./feedback"><b>Feedback</b></a>
                </div>
              </div>
        </ul>
    </nav>
    </div>
    <div class="bg1">
    <div class="img1">
        
            
    </div>
    
    <div class="text1">
        <h1>What mental health needs </h1>
        <h2>is more sunlight, more candor, and more unashamed conversation</h2>
    </div>
    <div class="text2">
        <h1>We CARE For You</h1>
        <h2>There is hope, even when your brain tells you there isn’t</h2>
    </div>
    
   
    <div class="img3">
        <img src="./img/peace.png" alt="">
        
    </div>
    </div>

    <div class="secondpage">
    <div class="bg2">
        <div class="heading">
            <h1>Our Mission</h1>
        </div>
        <div class="mission">
            <h2>Spread Awareness about Mental Health</h2>
            <h2>Helping to the ones who need any kind of assistance</h2>
            <h2>build a community of positive people who beleive in well being of each other</h2>
        </div>
        <div class="priority">
            <img src="./img/love.png" alt="">
        </div>
        
    </div>
    </div>

    <div class="thirdpage">
        <div class="bg3">
            <div class="heading2">
                <h1>Our Community</h1>
            </div>
            <div class="community">
                <a href="https://icons8.com/icon/V01w3Ijki6UL/group"></a>
                <img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/000000/external-group-business-and-management-kiranshastry-solid-kiranshastry-7.png"/>
                <h2>100+</h2>
                <h3>members</h3>
            </div>
            <div class="friend">
                <a href="https://icons8.com/icon/mtro6UfgvCYA/friend"></a>
                <img src="https://img.icons8.com/external-wanicon-lineal-color-wanicon/64/000000/external-friend-friendship-wanicon-lineal-color-wanicon.png"/>
                <h3>SUPPORTIVE</h3>
                <h3>TEAM</h3>
            </div>

            <div class="join">
                <h1>Join our supportive community that always has your back</h1>
            </div>

           
            

            
        </div>
    </div>

    <div id="container" class="container">
		<div id="chat" class="chat">
			<div id="messages" class="messages"></div>
			<input id="input" type="text" placeholder="Say something..." autocomplete="off" autofocus="true" />
		</div>
		<img src="./img/friend.png" alt="Robot cartoon" height="500vh">
        
        
	</div>

   





 

        
    
    
</body>
</html>