<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/meditate.css">
    <title>Meditate</title>
</head>
<body>
    <div class="navbar">
        <nav>
            <div class="logo">LOGO</div>
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./stories">Stories</a></li>
                <li><a href="./event">Event</a></li>
                <li><a href="./meditate">Meditate</a></li>
                <div class="dropdown">
                    <li><a href="#more">More</a></li>
                    <div class="dropdown-content">
                    <a href="./needhelp"> <b>Need help</b></a>
                    <a href="./"><b>About us</b></a>
                    <a href="./feedback"><b>Feedback</b></a>
                    </div>
                  </div>
                
            </ul>
        </nav>
    </div>   
    <div class="bg1">
        <div class="meditate">
            <img src="./img/meditate.png" alt="">
        </div>
        <div class="text1">
            <h1>Meditation</h1>
            <h3>less stress. Better sleep. Sharper mind.</h3>
        </div>
    </div>
    <div class="secondpage">
        <h1>7 Wonders of Meditation</h1>
        <div class="videos">
            <div class="video1">
                <video width="300px" height="300px" poster="./img/selflove.PNG"  controls src="./img/15-Minute Meditation For Self Love.mp4"></video>
                <h3>Self love</h3>
            </div>
            <div class="video2">
                <video width="300px" height="300px" poster="./img/healing.PNG" controls src="./img/10-Minute Meditation For Healing.mp4"></video>
                <h3>Healing</h3>
            </div>
            <div class="video3">
                <video width="300px" height="300px" poster="./img/stress.PNG" controls src="./img/10-Minute Meditation For Stress.mp4"></video>
                <h3>Stress Management</h3>
            </div>
        </div>    
        <div class="videos2">
            <div class="video4">
                <video width="300px" height="300px" poster="./img/depression.PNG" controls src="./img/10-Minute Meditation For Depression.mp4"></video>
                <h3>Depression</h3>
            </div>
            <div class="video5">
                <video width="300px" height="300px" poster="./img/anxiety.PNG" controls src="./img/10-Minute Meditation For Anxiety.mp4"></video>
                <h3>Anxiety</h3>
            </div>
            <div class="video6">
                <video width="300px" height="300px" poster="./img/anger.PNG" controls src="./img/10-Minute Meditation For Anger.mp4"></video>
                <h3>Anger</h3>
            </div>   
        </div>
    </div>

    <div class="thirdpage">
        <h1>Enroll for the Courses Now</h1>
        <p>
            Learn meditation completely "FREE" from some of the best in the world,
             focuses on minute details and scientific theories are studies thoroughly to make these course.
        </p>
    </div>
    <div class="container">
        <div class="card">
          <div class="imgBx">
            <img src="">
          </div>
          <div class="contentBx">
            <h2>Explore </h2>
            <h3>Yourself</h3>
            <div class="size">
              <h3>taking a look at your own:</h3>
              <span> <b>THOUGHTS</b> </span>
              <span> <b>FEELINGS</b> </span>
              <span> <b> BEHAVIOURS</b></span>
              <span> <b> MOTIVATIONS</b></span>
            </div>
           
            <a href="#">Enter</a>
          </div>
        </div>
        <div class="card">
            <div class="imgBx">
              <img src="">
            </div>
            <div class="contentBx">
              <h2>ANTI </h2>
              <h3>STRESS</h3>
              <div class="size">
                <h3>MAANAGE WHATEVER:</h3>
                <span> <b>You</b> </span>
                <span> <b>Are</b> </span>
                <span> <b> Going</b></span>
                <span> <b> Through</b></span>
              </div>
             
              <a href="#">Enter</a>
            </div>
          </div>
          <div class="card">
            <div class="imgBx">
              <img src="">
            </div>
            <div class="contentBx">
              <h2>Socialize </h2>
              <h3></h3>
              <div class="size">
                <h3>taking a look at your own:</h3>
                <span> <b>THOUGHTS</b> </span>
                <span> <b>FEELINGS</b> </span>
                <span> <b> BEHAVIOURS</b></span>
                <span> <b> MOTIVATIONS</b></span>
              </div>
             
              <a href="#">Enter</a>
            </div>
          </div>
          <div class="card">
            <div class="imgBx">
              <img src="">
            </div>
            <div class="contentBx">
              <h2>Personality </h2>
              <h3>Development</h3>
              <div class="size">
                <h3>taking a look at your own:</h3>
                <span> <b>THOUGHTS</b> </span>
                <span> <b>FEELINGS</b> </span>
                <span> <b> BEHAVIOURS</b></span>
                <span> <b> MOTIVATIONS</b></span>
              </div>
             
              <a href="#">Enter</a>
            </div>
          </div>
      </div>
     
    
    
</body>
</html>