<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/needhelp.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.1/css/all.css">
    <script>type="text/javascript"; src="index.js"</script>
    <title>Curing Souls</title>
    <script src="https://kit.fontawesome.com/afd6aa68df.js" crossorigin="anonymous"></script>
    
<body>
    <div class="navbar">
    <nav>
        <div class="logo">
            <img src="" alt="">
        </div>
        
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./stories">Stories</a></li>
            <li><a href="./event">Event</a></li>
            <li><a href="./meditate">Meditate</a></li>
           
            <div class="dropdown">
                <li><a href="#more">More</a></li>
                <div class="dropdown-content">
                <a href="./needhelp"> <b>Need help</b></a>
                <a href="#"><b>About us</b></a>
                <a href="./feedback"><b>Feedback</b></a>
                </div>
              </div>
        </ul>
    </nav>
    </div>
    
        
            
    </div>
    
    <div class="text1">
        <h1>THERAPIST </h1>
        <h2>Dont' Hesitate, contact the best in the world</h2>
        <img src="./img/Therapist.PNG" alt="">
    </div>

     
    <div class="therapist">
        <div class="therapistimages">
            <div class="therapist1">
                <img src="./img/therapist1.png" alt="">
            </div>
            <div class="therapist1">
                <img src="./img/therapist2.png" alt="">
            </div>
            <div class="therapist1">
                <img src="./img/therapist3.png" alt="">
            </div>
            <div class="therapist1">
                <img src="./img/therapist4.png" alt="">
            </div>
        </div>

        <div class="therapistnames">
            
                <div class="therapist2">
                    <h1>Anna Cramling</h1>
                </div>
                <div class="therapist2">
                    <h1>Alexandra Botez </h1>
                </div>
                <div class="therapist2">
                    <h1>Keti</h1>
                </div>
                <div class="therapist2">
                    <h1>Peter Swidler</h1>
                </div>
                
               
        </div>

        <div class="therapistdescription">

            <div class="therapist3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic earum assumenda veritatis velit </p>
            </div>
            <div class="therapist3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic earum assumenda veritatis velit </p>
            </div>
            <div class="therapist3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic earum assumenda veritatis velit </p>
            </div>
            <div class="therapist3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic earum assumenda veritatis velit </p>
            </div>
        </div>
        </div>

        
    </div>