<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stories.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.1/css/all.css">
    <script>type="text/javascript"; src="index.js"</script>
    <title>Curing Souls</title>
    <script src="https://kit.fontawesome.com/afd6aa68df.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
    <nav>
        <div class="logo">
            <img src="" alt="">
        </div>
        
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./stories">Stories</a></li>
            <li><a href="./event">Event</a></li>
            <li><a href="./meditate">Meditate</a></li>
           
            <div class="dropdown">
                <li><a href="#more">More</a></li>
                <div class="dropdown-content">
                <a href="#"> <b>Need help</b></a>
                <a href="#"><b>About us</b></a>
                <a href="./feedback"><b>Feedback</b></a>
                </div>
              </div>
        </ul>
    </nav>
    </div>
    <div class="list">
        <div class="members">
            <div class="names">
                <div class="member1">
                    <img src="./img/user.png" alt="user image">
                    <h1>Aman</h1>
                    <div class="fancy">
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis voluptatibus voluptate saepe totam pariatur quod sit adipisci architecto nisi rerum placeat nesciunt ab eligendi at, sequi doloremque. Cupiditate, optio numquam.
                        </div>
                        <div class="description">
                            <div class="info">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis sed quidem provident ut rem quasi! Temporibus impedit maxime architecto dolorem suscipit nostrum pariatur voluptatem optio, quaerat voluptatibus, sit sint aspernatur!</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="member1">
                    <img src="./img/user.png" alt="user image">
                    <h1>Priya</h1>
                    <div class="fancy">
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis voluptatibus voluptate saepe totam pariatur quod sit adipisci architecto nisi rerum placeat nesciunt ab eligendi at, sequi doloremque. Cupiditate, optio numquam.
                        </div>
                        <div class="description">
                            <div class="info">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis sed quidem provident ut rem quasi! Temporibus impedit maxime architecto dolorem suscipit nostrum pariatur voluptatem optio, quaerat voluptatibus, sit sint aspernatur!</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="member1">
                    <img src="./img/user.png" alt="user image">
                    <h1>Roshni</h1>
                    <div class="fancy">
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis voluptatibus voluptate saepe totam pariatur quod sit adipisci architecto nisi rerum placeat nesciunt ab eligendi at, sequi doloremque. Cupiditate, optio numquam.
                        </div>
                        <div class="description">
                            <div class="info">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis sed quidem provident ut rem quasi! Temporibus impedit maxime architecto dolorem suscipit nostrum pariatur voluptatem optio, quaerat voluptatibus, sit sint aspernatur!</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="member1">
                    <img src="./img/user.png" alt="user image">
                    <h1>Rishabh</h1>
                    <div class="fancy">
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis voluptatibus voluptate saepe totam pariatur quod sit adipisci architecto nisi rerum placeat nesciunt ab eligendi at, sequi doloremque. Cupiditate, optio numquam.
                        </div>
                        <div class="description">
                            <div class="info">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis sed quidem provident ut rem quasi! Temporibus impedit maxime architecto dolorem suscipit nostrum pariatur voluptatem optio, quaerat voluptatibus, sit sint aspernatur!</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


    <div class="mystory">
        <div class="googleimage">
            <div class="heading">
                <h1>Want to share your story</h1>
                <li>
                    <a href="https://docs.google.com/forms/d/1UNfTn7a0_K7l-sLLBiK2QPj8ClvVWlmFQnSGF43V7ZU/edit">

                        <button class="btn2">
                            Share
                        </button>
                        <img src="./img/love.png" alt="">
                    </a>
                </li>
            </div>
        </div>
    </div>
        
            
    </div>

    